---
layout: default
---

<div class="text-center">
    当前学期：[<a href="https://github.com/hdumil/summer-school" target="_blank">2019 GitHub</a>] | 学期归档：[<a
        href="https://github.com/hdumil/cama_summer_school_2017" target="_blank">2017&2018</a>]
</div>

<div id="announcement" class="module-header">课程公告
    <span style="font-size: 0.6em;">[<a href="./announcement">查看历史公告</a>]</span>
</div>
<li>2019 年 7 月 02 日：由于时间冲突，周五的课程讨论挪动至下午两点整开始。</li>
<li>2019 年 6 月 18 日：大助教在 7 月 2 日至 7 日期间参加学校活动，期间答疑频率可能受到影响。</li>

{% include schedule.html %}

{% include instructor.html %}

{% include prerequisites.html %}

{% include faq.html %}