---
layout: default
---

<div class="text-center">
    当前学期：[<a href="https://github.com/hdumil/summer-school" target="_blank">2019 GitHub</a>] | 学期归档：[<a
        href="https://github.com/hdumil/cama_summer_school_2017" target="_blank">2017&2018</a>]
</div>

<div id="announcement" class="module-header">课程公告
    <span style="font-size: 0.6em;">[<a href="./announcement">查看历史公告</a>]</span>
</div>

<li>2019 年 8 月 8 日：由于台风过境，讨论课与作业提交推迟到下一周。</li>

{% include schedule.html %}

{% include instructor.html %}

{% include prerequisites.html %}

{% include faq.html %}