<!-- Author: Accepted Doge | Year: 2019
     Modified from Stanford CS229 / CS230 / CS231n /


                               -~v~-
                       @@@@@@@@@@@@@@@@@@@@@
                   @@@@@@@@@@@@@@@@@@@@@@@@@@@@@
                @@@@@@@@@@@1           1@@@@@@@@@@@
             ~@@@@@@@@n                     n@@@@@@@@-
           .@@@@@@@.                           +@@@@@@@
          @@@@@@@                                 @@@@@@@
         @@@@@@                                     @@@@@@
        @@@@@@                                       @@@@@@
       @@@@@6                                         %@@@@@
      @@@@@&                                           @@@@@@
     z@@@@@        @@@@@@@@             @@@@@@@@        @@@@@~
     @@@@@-      @@@@@@@@@@@@         @@@@@@@@@@@@      o@@@@@
     @@@@@      @@@@@@@@@@@@@@      .@@@@@@@@@@@@@@      @@@@@
     @@@@@     @@@@@z    i@@@@@     @@@@@.    &@@@@@     @@@@@
     @@@@$     6@@@@      @@@@@     @@@@@     ^@@@@@     @@@@@
                          @@@@@@@@@@@@@@&     ^@@@@@
                           ^@@@@@@@@@@@.      ^@@@@@
                              %@@@@@!         ^@@@@@
                                              ^@@@@@
                                               @@@@@

Welcome to jion Media Intelligence Laboratory.
Hanzhou Dianzi University, Hanzhou, Zhejiang, China.
Lab Website:   http://mil.hdu.edu.cn/
Lab Principal: yujun@hdu.edu.cn
!-->
