<div class="module-header">常见问题解答</div>

<div class="qqa">
    <div class="qq">- 有没有必须使用的教科书或者其它类型的资料？</div>
    <div class="qa">- 没有需要提前准备的材料，所需资料会在课前给出，课后会有推荐自学内容。</div>
</div>

<div class="qqa">
    <div class="qq">- 我的编程能力比较薄弱，接受能力较差，害怕跟不上进度，怎么办？</div>
    <div class="qa">- 在课程正式开始前，应当提前熟悉编程环境，如果没能够及时完成当前周的作业，
        可能需要花更多的时间参与周五的讨论，并在讨论结束后合理安排时间进行练习，
        <strong>每个学生必须独立写下解决方案，</strong>使用互联网解决问题是信息时代工科学生必须具备的能力。</div>
</div>

<div class="qqa">
    <div class="qq">- 我的英语能力比较薄弱，看不懂拓展材料，怎么办？</div>
    <div class="qa">- 同上点提到的方法，使用互联网可以搜索到一些中文翻译材料，或是使用谷歌翻译。（赶紧学好英语！）</div>
</div>

<div class="qqa">
    <div class="qq">- 为什么在整体课程安排中，没有留出单独的期中休息日？</div>
    <div class="qa">- 每周给出的自主安排时间是相当充裕的，需根据自身学习情况做出合理安排，其中包含了休息时间。</div>
</div>

<div class="qqa">
    <div class="qq">- 如何在线上讨论中使用 LaTeX 排版数学符号与公式？</div>
    <div class="qa">- GitHub 的 Issues 板块支持 Markdown 语法，可以在谷歌浏览器中安装 MathJax Plugin for Github 插件。</div>
</div>