<footer class="site-footer">

    <div class="wrap">

        <div class="footer-col-3 column">
            <ul>
                <li><i class="fas fa-home"></i>&nbsp实验室主页：<a href="http://mil.hdu.edu.cn"
                        target="_blank">http://mil.hdu.edu.cn</a></li>
                <li><i class="fas fa-user-graduate"></i>&nbsp&nbsp主页面维护：<a
                        href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            </ul>
        </div>

        <div class="footer-col-3 column">
            <a href="https://hdu.edu.cn/" target="_blank">
                <img src="{{ "/assets/img/hdu.png" | prepend: site.baseurl }}" style="height:50px;">
            </a>
        </div>





    </div>

</footer>