<div id="information" style="margin-bottom: 5px">
    <strong>课程时间：</strong>2019 年 7 月 1 日 — 2019 年 9 月 7 日，共计 10 周，高强度，严要求，请勿懈怠，注意安全第一。<br>
    <strong>上课地点：</strong>杭州电子科技大学下沙东校区（地铁一号线云水站）“复杂系统建模与仿真”教育部重点实验室会议室，<a href="https://j.map.baidu.com/kf6o-"
        target="_blank">查看地图</a>。<br>
    <strong>线上讨论：</strong>我们使用 GitHub 的 <a href="https://github.com/hdumil/summer-school/issues"
        target="_blank">Issues</a> 版面作为讨论用的论坛，请学生们提前阅读《<a href="https://github.com/ryanhanwu/How-To-Ask-Questions-The-Smart-Way/blob/master/README-zh_CN.md"
        target="_blank">提问的智慧</a>》。
</div>

<div id="week-arrangement" style="margin-bottom: 5px">
    <strong>每周安排（可能会有临时性的变化）：</strong>
    <li>周一，学生根据提供的相关材料开始预习本周内容；</li>
    <li>周二，老师讲解（讲解学习内容之前，简要介绍自己的研究课题）；</li>
    <li>周三，提交作业初稿，便于了解进度，帮助还在挠头的同学；</li>
    <li>周五，基于作业初稿，进行相关讨论，有可能增加相关的讲座或教程；</li>
    <li>周日，提交作业终稿，决定最后的成绩。</li>
</div>

<div id="attention" style="margin-bottom: 5px">
    幻灯片将在每个讲座结束后发布，其它内容随着课程进度更新，学生上台分享所用幻灯片经本人同意后将一并公开。
</div>
