<div class="row">
    <div class="col-md-4">
        <h2 class="module-header">讲师</h2>
        <div class="instructor">
            <a href="http://mil.hdu.edu.cn/people/jun_yu/index.html" target="_blank">
                <div class="instructorphoto">
                    <img class="img-hover" src="assets/img/junyu.png">
                </div>
                <div>俞俊</div>
            </a>
            <br>
        </div>
        <div class="instructor">
            <a href="http://mil.hdu.edu.cn/people/fei_gao/index.html" target="_blank">
                <div class="instructorphoto">
                    <img class="img-hover" src="assets/img/feigao.png">
                </div>
                <div>高飞</div>
            </a>
            <br>
        </div>
        <div class="instructor">
            <a href="http://mil.hdu.edu.cn/people/min_tan/index.html" target="_blank">
                <div class="instructorphoto">
                    <img class="img-hover" src="assets/img/mintan.png">
                </div>
                <div>谭敏</div>
            </a>
            <br>
        </div>
        <div class="instructor">
            <a href="http://mil.hdu.edu.cn/people/zhou_yu/index.html" target="_blank">
                <div class="instructorphoto">
                    <img class="img-hover" src="assets/img/zhouyu.png">
                </div>
                <div>余宙</div>
            </a>
            <br>
        </div>
        <div class="instructor">
            <a href="http://mil.hdu.edu.cn/people/suguo_zhu/index.html" target="_blank">
                <div class="instructorphoto">
                    <img class="img-hover" src="assets/img/suguozhu.png">
                </div>
                <div>朱素果</div>
            </a>
            <br>
        </div>
        <div class="instructor">
            <a href="http://mil.hdu.edu.cn/people/maoying_qiao/index.html" target="_blank">
                <div class="instructorphoto">
                    <img class="img-hover" src="assets/img/maoyingqiao.png">
                </div>
                <div>乔卯英</div>
            </a>
            <br>
        </div>
        <div class="instructor">
            <a href="http://mil.hdu.edu.cn/people/zhenzhong_kuang/index.html" target="_blank">
                <div class="instructorphoto">
                    <img class="img-hover" src="assets/img/zhenzhongkuang.png">
                </div>
                <div>匡振中</div>
            </a>
            <br>
        </div>
        <div class="instructor">
            <a href="http://mil.hdu.edu.cn/people/xiaoling_gu/index.html" target="_blank">
                <div class="instructorphoto">
                    <img class="img-hover" src="assets/img/xiaolinggu.png">
                </div>
                <div>顾晓玲</div>
            </a>
            <br>
        </div>
    </div>

    <div class="col-md-6">
        <h2 class="module-header">助教</h2>
        <div class="instructor">
            <a href="https://accepteddoge.com/" target="_blank">
                <div class="instructorphoto">
                    <img class="img-hover" src="assets/img/xiaoweicao.jpg">
                </div>
                <div>曹骁威</div>
            </a>
            <br>
        </div>
    </div>

</div>