<div id="instructor" class="row">
    <div class="col-md-8">
        <h2 class="module-header">讲师</h2>
        <div class="instructor" id="mintan">
            <div class="instructorphoto">
                <img class="img-hover" src="{{ "/assets/img/junyu.png" | prepend: site.baseurl }}">
            </div>
            <div>俞俊</div>(Lab Chief)
            <br>
        </div>
        <div class="instructor" id="feigao">
            <div class="instructorphoto">
                <img class="img-hover" src="{{ "/assets/img/feigao.png" | prepend: site.baseurl }}">
            </div>
            <div>高飞</div>(Head Teacher)
            <br>
        </div>
        <div class="instructor" id="mintan">
            <div class="instructorphoto">
                <img class="img-hover" src="{{ "/assets/img/mintan.png" | prepend: site.baseurl }}">
            </div>
            <div>谭敏</div>
            <br>
        </div>
        <div class="instructor" id="zhouyu">
            <div class="instructorphoto">
                <img class="img-hover" src="{{ "/assets/img/zhouyu.png" | prepend: site.baseurl }}">
            </div>
            <div>余宙</div>
            <br>
        </div>
        <div class="instructor" id="suguozhu">
            <div class="instructorphoto">
                <img class="img-hover" src="{{ "/assets/img/suguozhu.png" | prepend: site.baseurl }}">
            </div>
            <div>朱素果</div>
            <br>
        </div>

        <div class="instructor" id="xiaolinggu">
            <div class="instructorphoto">
                <img class="img-hover" src="{{ "/assets/img/xiaolinggu.png" | prepend: site.baseurl }}">
            </div>
            <div>顾晓玲</div>
            <br>
        </div>
        <div class="instructor" id="yibinzhan">
            <div class="instructorphoto">
                <img class="img-hover" src="{{ "/assets/img/yibinzhan.jpg" | prepend: site.baseurl }}">
            </div>
            <div>詹忆冰</div>
            <br>
        </div>
    </div>

    <div class="col-md-4">
        <h2 class="module-header">助教</h2>
        <div class="instructor" id="xiaoweicao">
            <div class="instructorphoto">
                <img class="img-hover" src="{{ "/assets/img/xiaoweicao.png" | prepend: site.baseurl }}">
            </div>
            <div>曹骁威</div>(Head TA)
            <br>
        </div>
        <div class="instructor" id="xiaoweicao">
            <div class="instructorphoto">
                <img class="img-hover" src="{{ "/assets/img/minhaoyao.jpg" | prepend: site.baseurl }}">
            </div>
            <div>尧旻昊</div>
            <br>
        </div>
        <div class="instructor" id="xiaoweicao">
            <div class="instructorphoto">
                <img class="img-hover" src="{{ "/assets/img/congguiyao.jpg" | prepend: site.baseurl }}">
            </div>
            <div>姚崇贵</div>(PhD Student)
            <br>
        </div>
    </div>
</div>

<div>
    <b>注意：</b>所有线上答疑都将在
    <a href="https://github.com/hdumil/summer-school/issues" target="_blank">Issues</a>
    进行，推荐线下团队之间事先互相交流探讨。
    当你知道问题的答案时，或者具有解决问题的思路时，强烈鼓励你回答其他学生的问题。
    另外由于老师们平时比较忙碌，请尽可能提出具有建设性的问题，
    提出问题的最终目的是为了思考并解决它，而不是意图强调发现问题这一行为。
    如果需要进行长期交谈，或有着私人事务，
    请提前以邮件或其它被允许的形式告知老师，询问是否近期有 Office Hour 并进行预约。
    助教将不会提供 IM 等私人联系方式，与助教进行交流的内容局限于课程相关，课外内容请自学。
    助教将于每天上午 9：00 查看 Issues 发帖，回复时间通常在 24 小时以内，
    可在 Project 版面查看
    <a href="https://github.com/orgs/hdumil/projects/1" target="_blank">助教相关事宜</a>。</br>
</div>