<div class="module-header">课程大纲</div>

幻灯片将在每个讲座开始前不久发布。如果你希望提前了解幻灯片内容，请参阅去年上传的幻灯片。

<table class="table">
    <tbody>
        <tr class="active">
            <th>类型</th>
            <th>日期</th>
            <th>主要内容</th>
            <th>课程材料</th>
            <th>备注</th>
        </tr>

            <td>预习</td>
            <td>-</td>
            <td>
                <b>课程介绍</b> <br>
                计算机视觉...
            </td>
            <td>
                <a href="#" target="_blank">[幻灯片]</a>
            </td>
            <td>
            </td>
        </tr>

        <tr class="info">
            <td>讲座</td>
            <td>7月1日 周一</td>
            <td>
                <b>课程介绍</b> <br>
                计算机视觉...
            </td>
            <td>
                <a href="#" target="_blank">[幻灯片]</a>
            </td>
            <td>
            </td>
        </tr>

        <tr class="warning">
            <td>讲座</td>
            <td>7月1日 周一</td>
            <td>
                <b>课程介绍</b> <br>
                计算机视觉...
            </td>
            <td>
                <a href="#" target="_blank">[幻灯片]</a>
            </td>
            <td>
            </td>
        </tr>

        <tr class="danger">
            <td>讲座</td>
            <td>7月1日 周一</td>
            <td>
                <b>课程介绍</b> <br>
                计算机视觉...
            </td>
            <td>
                <a href="#" target="_blank">[幻灯片]</a>
            </td>
            <td>
            </td>
        </tr>

    </tbody>
</table>
